target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/local-repo/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.classpath
.project
.settings/

### VS Code ###
.vscode/

### OS ###
.DS_Store

### Logs ###
*.log
